#home {
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows:(auto,auto,auto,auto,auto,auto,auto,auto,auto,auto);
    grid-row-gap: 30px; 
  
    
}


.imgbluerect{
    
    display:grid;
    grid-column-start:9;
    grid-row-end:3;
    
    margin-top:-370px;
    margin-bottom: 100px;
    margin-left: -40px;
    
    z-index:1;
   
}
    
.imgbluerect img{
    height: 370px;
    width: auto;
}

.ellipsepink{
    display: grid;
      position: relative;
    grid-column:7/8;
    grid-row-start:1;
    margin-top: -64px;
    margin-left: 85px;
    z-index:1;

    
}

.ellipsepink img{
    width: 200px;
    height: auto;
  
}

.lera{
    display: grid;
    grid-column:3/5;
    margin-top: 130px;
    margin-right: 40px;
    
    z-index: 4;
   
}

.lera img{
    max-height: 60vw; 
}

.pinkline{
    display: grid;
    z-index: 3;
    grid-column: 2/6;
    grid-row:2/auto;
    mix-blend-mode: multiply;
    
    
}

.pinkline img{
   min-width: 43vw;
    
    margin-top:-500px;
    margin-left: 30px;
    transform: rotate(40deg);
    
}

.blueline{
    display: grid;
    z-index: 3;
    grid-column: 9/auto;
    grid-row:2/auto;
    margin-top:-220px;
    margin-left: 20px;
   
}


.blueline img{
     max-width:35vw;
}


.photography{
    display: grid;
   
    mix-blend-mode: difference;
    margin-top:  120px;
   
  
    font-family: poiret one;
    letter-spacing: 10px;
    font-size: 3.6em;
    z-index: 7;
    grid-column: 7/9;
    grid-row: 1/2;
   
    margin-left: 80px;
}



.opys{
    display: grid;
     font-family: poiret one;
    letter-spacing: 12px;
    z-index: 8;
    grid-column: 8/10;
    grid-row-start:2;
    font-size: 1.3em;
    margin-top: -400px;
    margin-left: -40px;
    font-weight: 300;
    
        
        
        
        
        
        
        
        
        
}